.App {
  font-size: calc(10px + 2vmin);
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "h h h h"
    "t o o o";
}

.header {
  grid-area: h;
}

.editor {
  grid-area: t;
}

.output {
  grid-area: o;
  height: auto;
  padding: 0px 20px 0px 20px;
}

body {
  height: 100%;
}
