.App {
  display: grid;
  font-size: calc(10px + 2vmin);
  height: 100vh;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-template-areas:
    ". . . . . . . . . . . ."
    ". e e e e o o o o o o ."
    ". e e e e o o o o o o ."
    ". e e e e o o o o o o ."
    ". e e e e o o o o o o ."
    ". e e e e o o o o o o ."
    ". e e e e o o o o o o ."
    ". e e e e o o o o o o ."
    ". e e e e o o o o o o ."
    ". e e e e o o o o o o ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . .";
}
.editor {
  grid-area: e;
  width: 100vh;
  height: 100vh;
}
.output {
  grid-area: o;
}
