.App {
  text-align: center;
  display: grid;
  font-size: calc(10px + 2vmin);
  height: 100vh;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-template-areas:
    ". . . . . . . . . . . ."
    ". e e e e e e e e e e ."
    ". e e e e e e e e e e ."
    ". e e e e e e e e e e ."
    ". e e e e e e e e e e ."
    ". e e e e e e e e e e ."
    ". o o o o o o o o o o ."
    ". o o o o o o o o o o ."
    ". o o o o o o o o o o ."
    ". o o o o o o o o o o ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . .";
}
.editor {
  grid-area: e;
  width: 100%;
  height: 100%;
}
.output {
  grid-area: o;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
